* {
    font-family: Be Vietnam Pro, sans-serif;
    src: url(../fonts/BeVietnamPro-Regular.ttf);
}
*::selection {
    background: rgb(254,213,2);
    color:black;
}
/*Menu*/
header {
    background:white;
}
.subject {
    width: 6rem;
}
.ads > h2 {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0.5rem;
    margin: 0.2rem;
}
.flex {
    display: flex;
    align-items: center;
}

.main {
    justify-content: space-between;
}

.main a {
    margin:10px;
}


.foot {
    background: linear-gradient(180deg, #1e3c72, #2a5298);
    color: white;
    border-radius: 29px;
    padding:10px;
    margin:10px;
}
.foot a {
    text-decoration: none;
    color: white;
    
}
.foot a:hover {
    color:  rgb(254,213,2);
}
/* Button back to top */
#myBtn {
    display: none; /*Mặc định button sẽ được ẩn*/
  
    position: fixed;
    bottom: 3%;
    right: 3%; 
    z-index: 99;
    border: none;
    outline: none;
    cursor: pointer; /*cursor hiển thị con trỏ chuột khi duy chuyển con trỏ vào thành phần
    ở đây là để hiển thị pointer*/
    padding: 15px;
    border-radius: 50%;
    background: linear-gradient(to right, #f5f7fa, #c3cfe2);
}
 
#myBtn:hover {
  background:linear-gradient(to left, #09203f, #537895);
  color:rgb(254,213,2);
}
/*Sách*/
.books  {
    display: flex;
    flex-wrap: wrap;

}

.book {
    width: 20%;
    padding: 0.2rem;
    box-sizing: border-box;
    text-decoration: none;
    
}

.book > div {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 8px 8px;
    padding: 0.5rem;
    position: relative;
}

.book img {
    border-radius: 10%;

    width: 100%;
    transition: transform .5s;
}

.book a {
    text-decoration: none;
    color: inherit;
}
.book a, .book p {
    text-align: center;
}

.book img:hover {
    transform: scale(0.8);
}
.titleofbooks {
    padding: 0.5%;
    margin-top: 2%;
    background: linear-gradient(to right, #c79081, #dfa579);
    border-radius: 3rem;
    color: white;
    display: flex;
    justify-content: space-between;

}
.titleofbooks > h3 {
    margin-left:2%;
    margin-right: 2%;
}
.search a {
    display: flex;
    justify-content: center;
    text-decoration: none;
    color:white;
    padding:1rem;
    border-radius: 10px;
    background: linear-gradient(to left top, #13547a, #80d0c7);
    font-size: 16px;
    font-weight: 600;
    position: relative;
}
.search a:hover {
    background: linear-gradient(to left top, #93a5cf, #e4efe9);
}
