* {
    font-family: Be Vietnam Pro, sans-serif;
    src: url(../fonts/BeVietnamPro-Regular.ttf);
}
*::selection {
    background: rgb(254,213,2);
    color:black;
}
/*Menu*/
header {
    background:white;
}
.subject {
    width: 6rem;
}
.ads > h2 {
    width: 100%;
    height: 5rem;
    display: flex;
    align-items: center;
    padding: 0.5rem;
    margin: 0.2rem;
}
.flex {
    display: flex;
    align-items: center;
}

.main {
    justify-content: space-between;
}

.main a {
    margin:10px;
}


.foot {
    background: linear-gradient(180deg, #1e3c72, #2a5298);
    color: white;
    border-radius: 29px;
    padding:10px;
    margin:10px;
}
.foot a {
    text-decoration: none;
    color: white;
    
}
.foot a:hover {
    color:  rgb(254,213,2);
}
/* Button back to top */
#myBtn {
    display: none; /*Mặc định button sẽ được ẩn*/
  
    position: fixed;
    bottom: 20px;
    right: 30px; 
    z-index: 99;
    border: none;
    outline: none;
    cursor: pointer; /*cursor hiển thị con trỏ chuột khi duy chuyển con trỏ vào thành phần
    ở đây là để hiển thị pointer*/
    padding: 15px;
    border-radius: 50%;
    background: linear-gradient(to right, #f5f7fa, #c3cfe2);
}
 
#myBtn:hover {
  background:linear-gradient(to left, #09203f, #537895);
  color:rgb(254,213,2);
}
/*Sách*/
.books  {
    display: flex;
    flex-wrap: wrap;
}


.book {
    width: 20%;
    padding: 0.2rem;
    box-sizing: border-box;
}

.book > div {
    border: 1px solid darkblue;
    border-radius: 10px;
    padding: 0.5rem;
    position: relative;
}

.book img {
    width: 100%;
    transition: transform .5s;
}

.book img:hover {
    transform: scale(0.8);
}
