* {
    font-family: Be Vietnam Pro, sans-serif;
    src: url(../fonts/BeVietnamPro-Regular.ttf);
}
*::selection {
    background: rgb(254,213,2);
    color:black;
}
header {
    background:white;
}
.subject {
    width: 6rem;
}
.ads > h2 {
    width: 100%;
    height: 5rem;
    display: flex;
    align-items: center;
    padding: 0.5rem;
    margin: 0.2rem;
}
.flex {
    display: flex;
    align-items: center;
}

.main {
    justify-content: space-between;
}

.main a {
    margin:10px;
}
.icon {
    width: 1rem;
}
.neck h1 {
    font-size: 80px;
    margin-bottom: 20px;
}
.neck a {
    text-decoration: none;
    color:white;
    padding:1rem;
    border-radius: 10px;
    background: linear-gradient(to left top, #13547a, #80d0c7);
    font-size: 16px;
    font-weight: 600;
    position: relative;
}
.neck a:hover {
    background: linear-gradient(to left top, #93a5cf, #e4efe9);
}
.neck {
    color: white;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height:100%;
    text-align: center;
    padding: 10rem;
    background: rgba(52, 42, 42, 0.65) url('../images/pexels-olena-bohovyk-3646105.jpg');
    background-blend-mode: darken;
    box-sizing: border-box;

}
.neck p {
    margin-top: 2rem;
}
.numbers {
    margin: 5rem;
    padding:4rem;


    background: linear-gradient(to bottom right, #cfd9df, #e2ebf0);
    border: 1px solid rgb(226, 226, 226);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 4px;
    border-radius: 15px;
    text-align: center;
    height: 119px;
    align-items: center;
    position: relative;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}
.number {
    padding:6rem;
    margin:6rem;
    text-align: center;

}
.number1 {
    font-weight: 600;
    font-size: 45px;
    line-height: 40px;
    color: rgb(244, 178, 35);
}
.number2 {
    font-weight: 600;
    font-size: 45px;
    line-height: 40px;
    color: rgb(37, 195, 195);
}
.number3 {
    font-weight: 600;
    font-size: 45px;
    line-height: 40px;
    color: rgb(15, 142, 213);
}
.number4 {
    font-weight: 600;
    font-size: 45px;
    line-height: 40px;
    color: rgb(240, 151, 108);
}
.number span {
    font-weight: 500;
    font-size: 16px;
    line-height: 25px;
    color: rgb(84, 86, 90);
}

.advanture {
    justify-content: space-around;
    margin-top: 25px;
    align-items: center;
    text-align: center;
}
.advanture i {
    font-size: 70px;
}
.icon1 {
    color: rgb(244, 178, 35);
    margin:20px;

}
.icon2 {
    color: rgb(37, 195, 195);
    margin:20px;


}
.icon3 {
    color: rgb(15, 142, 213);
    margin:20px;


}
.icon4 {
    color: rgb(240, 151, 108);
    margin:20px;


}
.advanture span {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: rgb(84, 86, 90);
}
.advanture > div {
    width: 200px;
}
.khoe {
    position: relative;
}
.introduction {
    height: 500px;
    margin-top: 22px;
    margin-left:7%;
    margin-right: 7%;
    justify-content: flex-end;
    align-items: center;
    border-radius: 20px;
    padding: 5px 50px;
    background-image: url(../images/pxfuel\ dao\ 2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    flex-direction: column;
    color:#e2ebf0;

}
.introduction div {
    width: 50%;
}
.introduction h2 {
    font-size: 36px;
}
.para h2, .para p, .para a {
    display:block;
    margin:5%;
}
.para {
    margin-left: auto;
    margin-bottom: auto;
}
.para a {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 4px;
    border-radius: 60px;
    color: #6d6260;
    width: auto;
    height: auto;
    font-size: 20px;
    margin-top: 20px;
    background: #6d6260;
    min-width: 20px;
    padding:15px;
    text-decoration: none;
    text-align: center;
}
.para a:hover {
    color: lightyellow;
    background: linear-gradient(to bottom, #595051, #3c3e3f)
}

.para a:visited {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 4px;
    border-radius: 60px;
    color: rgb(255, 255, 255);
    width: auto;
    height: auto;
    font-size: 20px;
    margin-top: 20px;
    min-width: 20px;
    padding:15px;
    text-decoration: none;
    text-align: center;

}
.foot {
    background: linear-gradient(180deg, #1e3c72, #2a5298);
    color: white;
    border-radius: 29px;
    padding:10px;
    margin:10px;
}
.foot a {
    text-decoration: none;
    color: white;
    
}
.foot a:hover {
    color:  rgb(254,213,2);
}
/*background: linear-gradient(to right, #f2994a, #f2c94c);*/

/* định dạng cho button */
#myBtn {
  display: none; /*Mặc định button sẽ được ẩn*/

  position: fixed;
  bottom: 20px;
  right: 30px; 
  z-index: 99;
  border: none;
  outline: none;
  cursor: pointer; /*cursor hiển thị con trỏ chuột khi duy chuyển con trỏ vào thành phần
  ở đây là để hiển thị pointer*/
  padding: 15px;
  border-radius: 50%;
  background: linear-gradient(to right, #f5f7fa, #c3cfe2);
}
 
#myBtn:hover {
  background:linear-gradient(to left, #09203f, #537895);
  color:rgb(254,213,2);
}