* {
    font-family: Be Vietnam Pro, sans-serif;
    src: url(../fonts/BeVietnamPro-Regular.ttf);
}
header {
    background:white;
}
.subject {
    width: 10rem;
}
.ads > h2 {
    width: 100%;
    height: 5rem;
    display: flex;
    align-items: center;
    padding: 0.5rem;
    margin: 0.2rem;
}
.flex {
    display: flex;
    align-items: center;
}

.main {
    justify-content: space-between;
}

.main a {
    margin:10px;
}
.icon {
    width: 1rem;
}
.neck h1 {
    font-size: 80px;
    margin-bottom: 20px;
}
.neck a {
    text-decoration: none;
    color:white;
    padding:1rem;
    color: #fff;
    border: 1px solid;
    border-radius: 10px;
    border-color: #05a081;
    background: #05a081;
    font-size: 16px;
    font-weight: 600;
    position: relative;
}
.neck {
    color: white;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height:100%;
    text-align: center;
    padding: 10rem;
    background: rgba(52, 42, 42, 0.65) url('../images/pexels-olena-bohovyk-3646105.jpg');
    background-blend-mode: darken;
    box-sizing: border-box;

}
.neck p {
    margin-top: 2rem;
}
.numbers {
    margin: 5rem;
    padding:4rem;


    background: rgb(255, 255, 255);
    border: 1px solid rgb(226, 226, 226);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 4px;
    border-radius: 15px;
    text-align: center;
    height: 119px;
    align-items: center;
    position: relative;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}
.number {
    padding:6rem;
    margin:6rem;
    text-align: center;

}
.number1 {
    font-weight: 600;
    font-size: 45px;
    line-height: 40px;
    color: rgb(244, 178, 35);
    border: 1px solid rgb(255, 255, 255);
}
.number2 {
    font-weight: 600;
    font-size: 45px;
    line-height: 40px;
    color: rgb(37, 195, 195);
    border: 1px solid rgb(255, 255, 255);
}
.number3 {
    font-weight: 600;
    font-size: 45px;
    line-height: 40px;
    color: rgb(15, 142, 213);
    border: 1px solid rgb(255, 255, 255);
}
.number4 {
    font-weight: 600;
    font-size: 45px;
    line-height: 40px;
    color: rgb(240, 151, 108);
    border: 1px solid rgb(255, 255, 255);
}
.number span {
    font-weight: 500;
    font-size: 16px;
    line-height: 25px;
    color: rgb(84, 86, 90);
}

.advanture {
    justify-content: space-around;
    margin-top: 25px;
    align-items: center;
    text-align: center;
}
.advanture i {
    font-size: 70px;
}
.icon1 {
    color: rgb(244, 178, 35);
    margin:20px;

}
.icon2 {
    color: rgb(37, 195, 195);
    margin:20px;


}
.icon3 {
    color: rgb(15, 142, 213);
    margin:20px;


}
.icon4 {
    color: rgb(240, 151, 108);
    margin:20px;


}
.advanture span {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: rgb(84, 86, 90);
}
.advanture > div {
    width: 200px;
}
.khoe {
    position: relative;
}
.introduction {
    height: 500px;
    margin-top: 22px;
    margin-left:7%;
    margin-right: 7%;
    justify-content: flex-end;
    align-items: center;
    border-radius: 20px;
    padding: 5px 50px;
    background-image: url(../images/bee.webp);
    background-repeat: no-repeat;
    background-size: cover;
    flex-direction: column;

}
.introduction div {
    width: 50%;
}
.introduction h2 {
    font-size: 36px;
}
.para h2, .para p, .para a {
    display:block;
    margin:5%;
}
.para {
    margin-left: auto;
    margin-bottom: auto;
}
.para a {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 4px;
    border-radius: 60px;
    color: rgb(255, 255, 255);
    width: auto;
    height: auto;
    font-size: 20px;
    margin-top: 20px;
    background: rgb(84, 86, 90);
    min-width: 20px;
    padding:15px;
    text-decoration: none;
    text-align: center;
}
.para a:hover {
    color: rgb(84, 86, 90);
    background: rgb(255, 255, 255);
}

.para a:visited {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 4px;
    border-radius: 60px;
    color: rgb(255, 255, 255);
    width: auto;
    height: auto;
    font-size: 20px;
    margin-top: 20px;
    background: rgb(84, 86, 90);
    min-width: 20px;
    padding:15px;
    text-decoration: none;
    text-align: center;

}
.foot {
    background-color: rgb(38, 40, 42);
    color: white;
    border-radius: 29px;
    padding:10px;
    margin:10px;
}
.foot a {
    text-decoration: none;
    color: white;
    
}
.foot a:hover {
    color:  rgb(254,213,2);
}
/*background: linear-gradient(to right, #f2994a, #f2c94c);*/